.explainer__drone {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  font-size: 20px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 10px;
}

.explainer__bunker {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  font-size: 20px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
}
